# Database connection string for PostgreSQL (Neon, Supabase, Railway, or local PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/internship_allocation?schema=public"

# Session JWT encryption secret (any random secure 32+ character string)
AUTH_SECRET="smart-internship-allocation-aoa-secret-key-32chars-min"

# Public Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
